.container{
    margin: 210px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > *{
    margin: 0px auto 0px 110px;
}

.container input{
    width: 341px;
    height: 32px;
    outline: 0;
}

input::placeholder{
    font: italic normal 300 14px/17px Proxima Nova;
    letter-spacing: 0px;
    color: #8E8E8E;
    opacity: 1;
}

.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}

.welcome{
    width: 149px;
    text-align: left;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    height: 34px;
    color: #2C2C2C;
    font: normal normal bold 28px/34px Proxima Nova;
}
.logoDiv{
    /*top: 210px;*/
    /*left: 1071px;*/
    width: 157px;
    height: 24px;
    background: transparent url('../utils/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.tagLine{
    color: #B3B3B3;
    text-align: left;
    font: normal normal normal 14px/17px Proxima Nova;
    letter-spacing: 0px;
    color: #B3B3B3;
    opacity: 1;
}
.inputDiv{
    margin-top: 2%;
}
.remember{
    display: flex;
}
.passDiv{
    justify-content: space-evenly;
}
.button{
    /*background-color: #00A29D;*/
    color: #fff;
    width: 140px;
    height: 32px;
    background: #00A29D 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    margin-top: 2%;
    outline: 0;
}