.container{
    width: 1366px;
    height: 768px;
    margin: 10% auto;
    border: 1px solid black;
}
.mainContent{
    display: flex;
    flex-direction: row;
}
.sideBar{
    width: 200px;
    border:1px solid black;
    height: 698px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.main{
    width: 1166px;
    border:1px solid black;
    height: 698px;
}
.sideBarLogos{
    top: 24px;
    left: 16px;
    width: 24px;
    height: 24px;
    position: relative;
    opacity: 1;
}
.sideBarWrite{
    top: 7px;
    left: 48px;
    width: 70px;
    height: 17px;
    text-align: left;
    position: relative;
    font: normal normal bold 14px/17px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.dashboard{
    background: transparent url("../../utils/dashboard-24px.svg") 0% 0% no-repeat padding-box;
}

.operations{
    background: transparent url("../../utils/operations.svg") 0% 0% no-repeat padding-box;
}
.tracking{
    background: transparent url("../../utils/tracking.svg") 0% 0% no-repeat padding-box;
}
.reports{
    background: transparent url("../../utils/reports.svg") 0% 0% no-repeat padding-box;
}
.configs{
    background: transparent url("../../utils/configurations.svg") 0% 0% no-repeat padding-box;
}

.mainTitle{
    top: 24px;
    left: 24px;
    bottom: 0px;
    position: relative;
    width: 109px;
    height: 27px;
    text-align: left;
    font: normal normal bold 22px/27px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.search{
    top: 24px;
    left: 813px;
    bottom: 5px;
    position: relative;
    width: 16px;
    height: 16px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
}
.cal{
    top: 24px;
    left: 850px;
    bottom: 5px;
    position: relative;
    width: 16px;
    height: 16px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
}
.date{
    top: 24px;
    left: 880px;
    width: 120px;
    height: 15px;
    position: relative;
    text-align: left;
    font: normal normal normal 12px/15px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    vertical-align: top;
}

.circle{
    margin: 4% 0px 0px 2%;

    width: 152px;
    height: 152px;
    background: #86D5A2 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
    border-radius: 100%;
}
